
body{
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}


table {
    border-collapse: collapse;
    width: 60%;
    

  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #b7b3b3}
  
  th {
    background-color: #000000;
    color: white;
  }
  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100px;
    height: 30px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  

.input1 {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px 10px 15px;
    width: 30%;
    
    
}
button{
    text-align: center;
    color: white;
    background-color: slategrey;
    width: 95px;
    height: 40px;
    text-size-adjust: 20px;
}
.table1{
    display:flex;
    position: absolute;
    top: 0px;
    left:33% ;
    width: 100%;
}